@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=FwZc7-Am2FI_-VOxaLDvvq27omO7&skey=96867d716c89840e&v=v19) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 200;
  src: url("../font/proxima_nova_light.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("../font/fonnts.com-ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: url("../font/proxima_nova_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../font/proximanova_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Didot";
  font-style: normal;
  font-weight: 800;
  src: url("../font/Didot-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Didot";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Didot.otf") format("opentype");
}
@font-face {
  font-family: "TT Norms";
  font-style: bold;
  font-weight: 800;
  src: url("../font/TT Norms Pro Bold.otf") format("opentype");
}
.divider {
  max-width: 1398px;
  background: #000;
  height: 1px;
  margin: 1.875rem auto;
}
.divider.testmonial {
  margin-top: 6.25rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: underline;
  color: inherit;
  line-height: 200%;
  color: #f3733a;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

b {
  font-weight: 800;
}

i {
  font-style: italic;
}

p {
  line-height: 200%;
}

.apply_btn {
  width: 136px;
  height: 34px;
  font-size: 1.25rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsl(0, 0%, 0%);
  background-color: #fcf05b;
  font-family: "TT Norms";
  border-radius: 5px;
}
@media (min-width: 992px) {
  .apply_btn {
    width: 218px;
    height: 52px;
    font-size: 1.5rem;
  }
}

/*----------Layout-----------*/
.content-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 1.875rem;
}
@media (min-width: 992px) {
  .content-layout {
    margin-top: 3.125rem;
  }
}
@media (min-width: 1440px) {
  .content-layout {
    gap: 100px;
  }
}
@media (min-width: 1650px) {
  .content-layout {
    gap: 155px;
  }
}
.content-layout .content-box-one {
  width: 100%;
}
@media (min-width: 992px) {
  .content-layout .content-box-one {
    max-width: 973px;
  }
}
.content-layout .content-box-one .section-content {
  margin-top: 1.6875rem;
}
.content-layout .content-box-one .section-content.collapse {
  display: none;
}
.content-layout .content-box-one .section-content.collapse.active {
  display: block;
}
@media (min-width: 992px) {
  .content-layout .content-box-one .section-content.collapse {
    display: block;
  }
}
.content-layout .content-box-one .section-content h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 200%;
  margin: 0.5rem 0;
}
.content-layout .content-box-one .section-content h4.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.content-layout .content-box-one .section-content h4 span {
  font-weight: 400;
  line-height: 200%;
}
.content-layout .content-box-one .section-content li,
.content-layout .content-box-one .section-content p {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.8125rem;
  text-indent: 0.625rem;
  line-height: 200%;
}
.content-layout .content-box-one .section-content li::first-letter,
.content-layout .content-box-one .section-content p::first-letter {
  margin-left: 0.625rem;
}
@media (min-width: 992px) {
  .content-layout .content-box-one .section-content li,
  .content-layout .content-box-one .section-content p {
    font-size: 1.125rem;
    line-height: 200%;
    margin-left: 0;
    text-indent: 0;
  }
  .content-layout .content-box-one .section-content li::first-letter,
  .content-layout .content-box-one .section-content p::first-letter {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .content-layout .content-box-one .section-content li.short,
  .content-layout .content-box-one .section-content p.short {
    display: none;
  }
}
.content-layout .content-box-one .section-content li.extended,
.content-layout .content-box-one .section-content p.extended {
  display: none;
}
@media (min-width: 992px) {
  .content-layout .content-box-one .section-content li.extended,
  .content-layout .content-box-one .section-content p.extended {
    display: block;
    font-size: 1.125rem;
    line-height: 200%;
  }
}
.content-layout .content-box-one .section-content li {
  text-indent: -1.25rem;
  padding-left: 1.875rem;
  margin-top: 0;
}
.content-layout .content-box-one .section-content li::first-letter {
  margin-left: 0;
}
.content-layout .content-box-two {
  display: none;
}
@media (min-width: 992px) {
  .content-layout .content-box-two {
    max-width: 549px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.content-layout .content-box-two .content-box {
  margin-top: 9.6875rem;
}
.content-layout .content-box-two .content-box.alumni {
  margin-top: 4.375rem;
}
.content-layout .content-box-two .content-box:nth-child(2) {
  margin-top: 6.25rem;
}
.content-layout .content-box-two .content-box .name {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.625rem;
}
.content-layout .content-box-two .content-box .name b {
  font-size: 1rem;
}
.content-layout .content-box-two .content-box .explore-more {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  line-height: 150%;
  color: #f3733a;
  width: 100%;
  margin-top: 2.5rem;
  text-decoration: underline;
}

.section-title {
  font-weight: 800;
  line-height: 90%;
  font-size: 30px;
  color: #f3733a;
  font-family: "Proxima Nova";
  line-height: normal;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .section-title {
    font-size: 132px;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 2.25rem;
  }
}
.section-title.collapse-title {
  border-bottom: 2px solid hsl(0, 0%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  font-size: 1.625rem;
}
@media (min-width: 992px) {
  .section-title.collapse-title {
    border-bottom: 0;
    font-size: 2.25rem;
  }
}
.section-title.collapse-title.active {
  border-bottom: 2px solid transparent;
}
.section-title .isOpen .plus {
  font-size: 2.25rem;
  font-weight: 800;
  color: hsl(0, 0%, 0%);
}
@media (min-width: 992px) {
  .section-title .isOpen .plus {
    display: none;
  }
}
.section-title .isOpen .minus {
  font-size: 2.25rem;
  font-weight: 800;
  color: hsl(0, 0%, 0%);
  display: none;
}
@media (min-width: 992px) {
  .section-title .isOpen .minus {
    display: none;
  }
}
.section-title .isOpen.active .plus {
  display: none;
}
.section-title .isOpen.active .minus {
  display: block;
}
@media (min-width: 992px) {
  .section-title .isOpen.active .minus {
    display: none;
  }
}

/*---------------Typography--------------*/
body {
  font-family: "Proxima Nova";
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}
.container .container {
  max-width: 100%;
  padding: 0;
}
@media (min-width: 600px) {
  .container {
    max-width: 61.875rem;
    padding: 0 1.875rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 65.625rem;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 90rem;
  }
}
@media (min-width: 1650px) {
  .container {
    max-width: 103.125rem;
  }
}

.d-none {
  display: none;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 8rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-1 {
  gap: 1rem;
}

.t-u {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

/*-------------------NAVBAR-------------------*/
header .menu-bar {
  background-color: hsl(0, 0%, 0%);
  height: 73px;
  color: #ffffff;
}
@media (min-width: 992px) {
  header .menu-bar {
    height: 100%;
    padding: 12px 0;
  }
}
@media (min-width: 1440px) {
  header .menu-bar {
    padding: 32px 0;
  }
}
header .menu-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}
header .menu-bar .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header .menu-bar .menu-content .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.652);
  pointer-events: all;
  cursor: pointer;
  display: none;
}
header .menu-bar .menu-content .overlay.hidden {
  display: block;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content .overlay {
    display: none;
  }
}
header .menu-bar .menu-content .logo {
  height: 130px;
  width: 85px;
  display: none;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content .logo {
    display: block;
  }
}
@media (min-width: 1440px) {
  header .menu-bar .menu-content .logo {
    height: 150px;
    width: 105px;
  }
}
header .menu-bar .menu-content ul {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 73px;
  width: 288px;
  height: 100%;
  background-color: hsl(0, 0%, 0%);
  padding: 4.6875rem 2.0625rem;
  display: none;
  z-index: 99999999;
}
header .menu-bar .menu-content ul.hidden {
  display: block;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content ul {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    top: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 2.25rem;
  }
}
header .menu-bar .menu-content ul li a {
  font-size: 1rem;
  font-weight: 800;
  font-family: "Proxima Nova";
  line-height: 280%;
}
header .menu-bar .menu-content ul li a.active {
  color: #ff7c9b;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content ul li a {
    line-height: 1.875rem;
  }
}
@media (min-width: 1440px) {
  header .menu-bar .menu-content ul li a {
    font-size: 1.625rem;
  }
}
@media (min-width: 1650px) {
  header .menu-bar .menu-content ul li a {
    font-size: 1.875rem;
  }
}
header .menu-bar .menu-content ul li a:hover {
  color: #fcf05b;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
header .menu-bar .menu-content .mobile-menu-icon {
  width: 33px;
  height: 18px;
  cursor: pointer;
  z-index: 99999;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content .mobile-menu-icon {
    display: none;
  }
}
header .menu-bar .menu-content .mobile-logo {
  z-index: 99999;
  max-width: 136px;
  font-size: 1.25rem;
  font-family: "Proxima Nova";
  font-weight: 800;
  line-height: 90%;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content .mobile-logo {
    display: none;
  }
}
header .menu-bar .menu-content .notification-icon {
  z-index: 99999;
  height: 28px;
  width: 28px;
}
@media (min-width: 992px) {
  header .menu-bar .menu-content .notification-icon {
    display: none;
  }
}

/*--------------------HEADER---------------------*/
header .hero-section {
  background-image: url("../../assets/home-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 17.375rem;
  width: 100%;
  padding-top: 1.5625rem;
}
@media (min-width: 992px) {
  header .hero-section {
    height: 42.3125rem;
  }
}
@media (min-width: 1440px) {
  header .hero-section {
    height: 45rem;
  }
}
@media (min-width: 1650px) {
  header .hero-section {
    height: 48.5625rem;
  }
}
header .hero-section.program {
  background-image: url("../assets/program-hero-m.png");
}
@media (min-width: 992px) {
  header .hero-section.program {
    background-image: url("../assets/program-hero.png");
  }
}
header .hero-section.program .apply-now {
  margin: 0 auto;
  margin-top: 10.3125rem;
}
@media (min-width: 992px) {
  header .hero-section.program .apply-now {
    display: none;
  }
}
header .hero-section.home {
  background-image: url("../assets/home-hero-m.png");
}
@media (min-width: 992px) {
  header .hero-section.home {
    background-image: url("../assets/home-hero.png");
  }
}
header .hero-section.alumni {
  background-image: url("../assets/alumni-hero-m.png");
}
@media (min-width: 992px) {
  header .hero-section.alumni {
    background-image: url("../assets/alumni-hero.png");
  }
}
header .hero-section .hero-title {
  font-weight: 800;
  line-height: 90%;
  font-size: 30px;
  color: #f3733a;
  font-family: "Proxima Nova";
  font-family: "Didot";
  color: hsl(0, 0%, 0%);
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
@media (min-width: 992px) {
  header .hero-section .hero-title {
    font-size: 132px;
  }
}
@media (min-width: 992px) {
  header .hero-section .hero-title {
    font-size: 4.1875rem;
    margin-top: 1.875rem;
  }
}
@media (min-width: 1440px) {
  header .hero-section .hero-title {
    font-size: 8rem;
  }
}
header .hero-section .hero-title::after {
  content: "";
  width: 90.4%;
  background: #fff500;
  height: 84.9%;
  position: absolute;
  left: 5.5%;
  top: 4.7%;
  z-index: -1;
}
@media (min-width: 992px) {
  header .hero-section .hero-title::after {
    width: 100%;
    left: 0;
    height: 54.9%;
    top: 40%;
  }
}
header .hero-section .hero-title.alumni {
  max-width: 287.6px;
}

footer {
  color: #ffffff;
  background-color: hsl(0, 0%, 0%);
  padding: 0.625rem 0 1.25rem 0;
}
@media (min-width: 992px) {
  footer {
    padding: 1.875rem 0 3.75rem 0;
    margin-top: 7.5rem;
  }
}
footer .content {
  width: 100%;
}
@media (min-width: 992px) {
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
footer .content .logo {
  display: none;
}
@media (min-width: 992px) {
  footer .content .logo {
    display: block;
    width: 6.25rem;
    height: 10.824375rem;
  }
}
@media (min-width: 1440px) {
  footer .content .logo {
    width: 10.625rem;
    height: 15.1999375rem;
  }
}
@media (min-width: 992px) {
  footer .content .mobile {
    display: none;
  }
}
footer .content .desktop {
  display: none;
}
@media (min-width: 992px) {
  footer .content .desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    max-width: 726px;
    height: 118px;
  }
}
@media (min-width: 1440px) {
  footer .content .desktop {
    -webkit-column-gap: 5.625rem;
       -moz-column-gap: 5.625rem;
            column-gap: 5.625rem;
  }
}
footer .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1.3125rem;
}
footer .content ul li a {
  font-size: 0.8125rem;
  font-weight: 800;
  line-height: 3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (min-width: 992px) {
  footer .content ul li a {
    font-size: 1.25rem;
  }
}
@media (min-width: 1440px) {
  footer .content ul li a {
    font-size: 14.75rem;
    line-height: 2.875rem;
  }
}
footer .content .socil {
  margin-top: 1.9375rem;
  text-align: center;
}
@media (min-width: 992px) {
  footer .content .socil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 1.875rem;
    gap: 6px;
    border: 3px solid #ffffff;
    border-radius: 20px;
  }
}
@media (min-width: 1440px) {
  footer .content .socil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 3.125rem 4.375rem;
    gap: 10px;
    width: 417.38px;
    height: 266px;
  }
}
footer .content .socil h3 {
  font-size: 0.9375rem;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 992px) {
  footer .content .socil h3 {
    font-size: 2rem;
  }
}
footer .content .socil h5 {
  font-size: 0.8125rem;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  footer .content .socil h5 {
    font-size: 1.25rem;
  }
}
footer .content .socil .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 161.53px;
  margin: 0 auto;
  margin-top: 0.6875rem;
}
@media (min-width: 992px) {
  footer .content .socil .icons {
    max-width: 100%;
    width: 100%;
    margin-top: 2.75rem;
  }
}
footer .content .socil .icons .icon {
  width: 22.53px;
  height: 24.15px;
}
@media (min-width: 992px) {
  footer .content .socil .icons .icon {
    width: 41px;
    height: 41px;
  }
}
@media (min-width: 1440px) {
  footer .content .socil .icons .icon {
    width: 61px;
    height: 61px;
  }
}
footer .privacy-policy {
  max-width: 310px;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1.25;
  text-align: center;
  color: #7f7979;
  margin: 0px auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 31px;
}
@media (min-width: 992px) {
  footer .privacy-policy {
    max-width: 100%;
  }
}
footer .privacy-policy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  footer .privacy-policy ul {
    gap: 1rem;
  }
}
@media (min-width: 992px) {
  footer .privacy-policy {
    font-size: 1.25rem;
    line-height: 150%;
  }
}

/*--------------------TESTIMONIALS---------------------*/
.testmonial {
  position: relative;
}
.testmonial::after {
  position: absolute;
  content: "";
  right: 0;
  height: 100%;
  top: 0;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, right top, color-stop(28%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 28%, rgb(255, 255, 255) 100%);
  width: 60px;
  z-index: 1;
}
@media (min-width: 992px) {
  .testmonial::after {
    width: 170px;
  }
}
.testmonial .cards {
  padding-top: 4.375rem;
  padding-bottom: 1.875rem;
  gap: 2rem;
}
@media (min-width: 992px) {
  .testmonial .cards {
    padding-top: 10rem;
  }
}
.testmonial .cards .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 203px;
  height: 216px;
  border-radius: 10px;
  border: 1px solid #587abc;
  position: relative;
}
@media (min-width: 992px) {
  .testmonial .cards .card {
    min-width: 326px;
    height: 329px;
    border: 4px solid #587abc;
  }
}
@media (min-width: 1440px) {
  .testmonial .cards .card {
    min-width: 546px;
    height: 359px;
  }
}
.testmonial .cards .card img {
  width: 78px;
  height: 78px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: -19.3%;
  left: 10%;
}
@media (min-width: 992px) {
  .testmonial .cards .card img {
    width: 159px;
    height: 159px;
    top: -30.9%;
    left: 7%;
  }
}
@media (min-width: 1440px) {
  .testmonial .cards .card img {
    width: 209px;
    height: 209px;
    top: -30.9%;
  }
}
.testmonial .cards .card h2 {
  color: #ff7c9b;
  font-weight: 800;
  font-size: 0.9375rem;
  padding: 0 1.375rem;
  margin-top: 2.8125rem;
}
@media (min-width: 992px) {
  .testmonial .cards .card h2 {
    font-size: 2rem;
    padding: 0 3.2375rem;
    margin-top: 5.3125rem;
  }
}
@media (min-width: 1440px) {
  .testmonial .cards .card h2 {
    padding: 0 4.5rem;
    margin-top: 7.8125rem;
  }
}
.testmonial .cards .card i,
.testmonial .cards .card p {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.75rem;
  padding: 0.375rem;
}
@media (min-width: 992px) {
  .testmonial .cards .card i,
  .testmonial .cards .card p {
    font-size: 0.875rem;
    max-width: 465px;
    margin: 0 auto;
    margin-top: 1.375rem;
    line-height: 150%;
  }
}
.testmonial .cards .card i {
  color: #ff7c9b;
  padding: 0 1.375rem;
}
@media (min-width: 992px) {
  .testmonial .cards .card i {
    padding: 0 3.2375rem;
    font-size: 1.125rem;
  }
}
@media (min-width: 1440px) {
  .testmonial .cards .card i {
    padding: 0 4.5rem;
  }
}

/*----------------HOMEPAGE--------------------*/
.about-section {
  padding: 1.875rem 0.3125rem;
}
@media (min-width: 1440px) {
  .about-section {
    padding: 5.625rem 6.25rem;
  }
}
.about-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.875rem;
}
@media (min-width: 992px) {
  .about-section .content .title-box {
    margin-top: 4.4375rem;
  }
}
.about-section .content .title-box .title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 800;
  line-height: 90%;
  font-size: 30px;
  color: #f3733a;
  font-family: "Proxima Nova";
}
@media (min-width: 992px) {
  .about-section .content .title-box .title {
    margin: 0 auto;
    line-height: 9.375rem;
    max-width: 34.375rem;
    margin-top: 1.25rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .about-section .content .title-box .title {
    font-size: 132px;
  }
}
.about-section .content .mobile-doc {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%;
  text-align: start;
}
@media (min-width: 992px) {
  .about-section .content .mobile-doc {
    display: none;
  }
}
.about-section .content .desktop-doc {
  display: none;
}
@media (min-width: 992px) {
  .about-section .content .desktop-doc {
    display: block;
  }
}
.about-section .content .desktop-doc h1 {
  color: #ff7c9b;
  font-size: 2.5rem;
  font-weight: 400;
}
.about-section .content .desktop-doc h1 b {
  font-weight: 800;
}
.about-section .content .desktop-doc p {
  font-size: 1.125rem;
  line-height: 200%;
  font-weight: 400;
  margin-top: 1.125rem;
  color: hsl(0, 0%, 0%);
}
.about-section .content .desktop-doc p:nth-child(2) {
  margin-top: 1.375rem;
}
.about-section .content .desktop-doc p:nth-child(4) {
  margin-top: 1.25rem;
}
.about-section .content .desktop-doc p b {
  font-weight: 800;
}
.about-section .more-details {
  color: #ff7c9b;
  font-size: 0.875rem;
  font-weight: 200;
  font-family: "Proxima Nova";
  float: right;
  text-decoration: underline;
  margin-top: 1.5625rem;
  color: #f3733a;
}
@media (min-width: 992px) {
  .about-section .more-details {
    float: left;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 2.75rem;
  }
}
@media (min-width: 1440px) {
  .about-section .more-details {
    margin-top: 2.125rem;
  }
}

/* Our Program */
.our-program-container .container {
  padding: 0;
  max-width: 100%;
}
.our-program-container .our-program .title {
  font-weight: 800;
  line-height: 90%;
  font-size: 30px;
  color: #f3733a;
  font-family: "Proxima Nova";
  font-family: "Didot";
  color: hsl(0, 0%, 0%);
  text-align: center;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .our-program-container .our-program .title {
    font-size: 132px;
  }
}
@media (min-width: 992px) {
  .our-program-container .our-program .title {
    max-width: 973px;
    font-size: 90px;
    margin: 3.75rem auto;
  }
}
.our-program-container .our-program .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.38em;
  background-color: #fcf05b;
  z-index: -1;
  padding: 0 5px;
  width: 152.5px;
  right: 41.3px;
  bottom: 3.2px;
}
@media (min-width: 992px) {
  .our-program-container .our-program .title::before {
    width: 450.7px;
    right: 161.9px;
    bottom: 9.3px;
  }
}
@media (min-width: 1440px) {
  .our-program-container .our-program .title::before {
    right: 162.3px;
  }
}
.our-program-container .our-program .content {
  text-align: center;
  margin-top: 1.875rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 0.28125rem;
    background-color: hsl(0, 0%, 0%);
  }
}
.our-program-container .our-program .content h1 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Proxima Nova";
}
@media (min-width: 992px) {
  .our-program-container .our-program .content h1 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1440px) {
  .our-program-container .our-program .content h1 {
    font-size: 4rem;
  }
}
.our-program-container .our-program .content p {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Proxima Nova";
  margin-top: 0.75rem;
  text-align: center;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content p {
    margin: 0 auto;
    line-height: 200%;
    max-width: 34.375rem;
    margin-top: 1.25rem;
    font-size: 1.25rem;
  }
}
.our-program-container .our-program .content .graduate {
  padding: 1.25rem 2.06875rem;
  background-color: #ff7c9b;
  width: 100%;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content .graduate {
    padding: 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-program-container .our-program .content .graduate h1 {
  color: #ffffff;
}
.our-program-container .our-program .content .graduate .more-details {
  color: #ff7c9b;
  font-size: 0.875rem;
  font-weight: 200;
  font-family: "Proxima Nova";
  float: right;
  text-decoration: underline;
  color: hsl(0, 0%, 0%);
  margin-top: 1.25rem;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content .graduate .more-details {
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin: 0.625rem;
    font-size: 1.5rem;
  }
}
.our-program-container .our-program .content .undergraduate {
  padding: 1.25rem 2.06875rem;
  background-color: hsl(0, 0%, 0%);
  color: #ffffff;
  width: 100%;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content .undergraduate {
    padding: 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-program-container .our-program .content .undergraduate h1 {
  color: #ff7c9b;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content .undergraduate h1 {
    color: #ffffff;
  }
}
.our-program-container .our-program .content .undergraduate .more-details {
  color: #ff7c9b;
  font-size: 0.875rem;
  font-weight: 200;
  font-family: "Proxima Nova";
  float: right;
  text-decoration: underline;
  margin-top: 1.25rem;
  color: #f3733a;
}
@media (min-width: 992px) {
  .our-program-container .our-program .content .undergraduate .more-details {
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin: 0.625rem;
    color: #ff7c9b;
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .our-program-container .our-program .content .undergraduate .more-details {
    margin-top: 3.1375rem;
  }
}

/*-------------------PROGRAMS---------------------*/
.program-prerequisites {
  margin-top: 1.25rem;
}
@media (min-width: 992px) {
  .program-prerequisites {
    margin-top: 3.125rem;
  }
}

.program-required-courses {
  margin-top: 5.625rem;
}
@media (min-width: 992px) {
  .program-required-courses {
    margin-top: 3.125rem;
  }
}

.program-student-work,
.program-how-to-apply,
.program-faqs {
  margin-top: 1.875rem;
}

@media (min-width: 992px) {
  .program-student-work {
    display: none;
    margin-top: 3.125rem;
  }
}
.program-student-work .section-content .content-box {
  margin-top: 1.875rem;
}
.program-student-work .section-content .content-box img {
  margin: 0 auto;
}
.program-student-work .section-content .content-box .name {
  margin-top: 0.625rem;
}

.program-apply-now-1,
.program-apply-now {
  padding: 3.125rem 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.program-apply-now-1 img,
.program-apply-now img {
  cursor: pointer;
}

.program-apply-now-1 {
  display: none;
}
@media (min-width: 992px) {
  .program-apply-now-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .program-apply-now {
    display: none;
  }
}

/*---------------ALUMNI---------------------*/
.section {
  margin-top: 1.8125rem;
}
@media (min-width: 992px) {
  .section {
    margin-top: 3.0625rem;
  }
  .section:nth-child(1) {
    margin-top: 1.8125rem;
  }
  .section:nth-child(2) {
    margin-top: 1.8125rem;
  }
}
.section .title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Proxima Nova";
  line-height: 90%;
  text-transform: uppercase;
  color: #587abc;
  font-weight: 600;
}
@media (min-width: 992px) {
  .section .title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .alumni-about .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 4.5rem;
  }
  .alumni-about .flex .flex {
    gap: 1rem;
  }
  .alumni-about .flex .section .title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 0.625rem;
    font-weight: 600;
  }
  .alumni-about .flex .section .extended {
    margin-top: 0;
  }
}

.alumni-events,
.alumni-works,
.alumni-news {
  margin-top: 2.5rem;
}

.alumni-events .section .title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Proxima Nova";
  line-height: 90%;
  text-transform: uppercase;
  color: #587abc;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
}
@media (min-width: 992px) {
  .alumni-events .section .title {
    font-size: 2rem;
  }
}

.alumni-works .section-content .content-box img {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .alumni-works {
    display: none;
  }
}

.upcoming-events {
  margin-left: 45px;
}

/*-----------Common Styles for Specific Links and Sections-----------*/
a.academic-leadership,
a.faculty-governing-board,
a.dean-office,
a.staff,
a.alumni-news,
a.upcoming-events {
  color: #f3733a;
  line-height: 200%;
}